html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 50px 0 0 0;
  scroll-behavior: smooth;
}

#button {
  transition: all 0.15s ease-in-out;
}

#button:hover {
  border: 2px solid blue;
  color: blue;
}

#section1,
#section2,
#section3,
#section4 {
  scroll-snap-align: start;
}

/* Default modal style */
/* .modal {
  width: 50%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.tally-popup {
  width: 90%; /* Adjust width for mobile */
  /* max-width: 600px; /* Set maximum width for larger screens */
  /* height: 80vh; Set height relative to the viewport */
  /* border: none; Remove default borders */
  /* margin: auto; */
  /* display: block; Center the iframe */
/* }  */

/* @media (max-width: 768px) {
  .tally-iframe {
    width: 100%; 
    height: 100vh;
  }
} */

/* Default modal style */
/* .tally-popup {
  width: 50%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
} */

/* Adjust modal for smaller screens */
/* @media (max-width: 768px) {
  .tally-popup {
    width: 700px;
    max-width: none;
  }
}  */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Tally iframe container styles */
.tally-container {
  width: 100%;
  max-width: 500px;
  height: 90vh; /* Make it occupy most of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mobile-specific styles */
@media (max-width: 800px) {
  .tally-container {
      height: 100vh; /* Use full height on smaller screens */
  }
}