html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 50px 0 0 0;
  scroll-behavior: smooth;
}

#button {
  transition: all 0.15s ease-in-out;
}

#button:hover {
  border: 2px solid blue;
  color: blue;
}

#section1,
#section2,
#section3,
#section4 {
  scroll-snap-align: start;
}

/* Tally iframe container styles */
.tally-container {
  width: 100%;
  max-width: 500px;
  height: 90vh; /* Make it occupy most of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mobile-specific styles */
@media (max-width: 800px) {
  .tally-container {
      height: 100vh; /* Use full height on smaller screens */
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; 
}

/* Container for the two images */
.container {
  display: flex;
  height: 100%; /* Full viewport height */
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Left image takes up 50% of the screen */
.left {
  width: 50%; /* Left image takes up 50% of the screen width */
  height: 100vh; /* Full screen height */
}

/* Right image takes up the remaining 50% of the screen width */
.right {
  width: 50%; /* Right image takes up 50% of the screen width */
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

/* Images should fill their containers */
.left img, .right img {
  height: 100%; /* Image height is 100% of the container height */
  width: auto;  /* Maintain the aspect ratio */
  object-fit: contain; /* Ensure the entire image is visible */
}
